# Data Science Tools and Ecosystem

## Author
Chris Doucet

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
1. List popular languages for Data Science
2. List popular libraries for Data Science
3. Display popular Data Science tools in a table
4. Evaluate arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. Julia
4. R
5. Swift

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn

| Data Science Tools |
|:------------------:|
|  Jupyter Notebook  |
|    Apache Spark    |
|      RStudio       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335